replays/
SmashIso.nkit.iso
output.csv
data/
__pycache__/
run.sh
tonys_data/
log.txt
/*.pth
*.csv
graph.ipynb
read_eval.ipynb
*_log.txt
models/
checkpoints/
logs/
visuals/
models/
logs/
checkpoints/
checkpoint_final/